#                                 **String**
x ='i LoVe pYtHoN PrOGrAm'

In [ ]:
# Q1.write a code to get the following ouput....
# output-: 'I love python program'
x ='i LoVe pYtHoN PrOGrAm'
print(x.capitalize())

I love python program

In [ ]:
# Q2.write a code to get the following ouput....
# output-: 'I Love Python Program'
print(x.title())

I Love Python Program

In [ ]:
# Q3.write a code to get the following ouput....
# output-: 'i love python program'
print(x.lower())

i love python program

In [ ]:
# Q4.write a code to get the following ouput....
# output-: 'I LOVE PYTHON PROGRAM'
print(x.upper())

I LOVE PYTHON PROGRAM

In [ ]:
# Q5.write a code to get the following ouput....
# output-: ['i', 'LoVe', 'pYtHoN', 'PrOGrAm']
print(x.split())

['i', 'LoVe', 'pYtHoN', 'PrOGrAm']

In [ ]:
# Q6.use format method to inject the following name and age
# variable in given variable named string
# name="python"
# age=30
# string="my name is {} and my age is {}"
# output-: 'my name is python and my age is 30'
name="python"
age=30
string="my name is {} and my age is {}"
print(string.format(name,age))

my name is python and my age is 30

In [ ]:
# Q7.write a code to retrieve the word 'pYtHoN' by using slicing
# from variable x
# output-: 'pYtHoN'
print(x[6:13])

 pYtHoN

#              **Tuple**
t = (2,1,4,6,2,1,4,1,2,7,1)

In [ ]:
#Q1.write the code to count the frequency of 1
t = (2,1,4,6,2,1,4,1,2,7,1)
print(t.count(1))

4

In [ ]:
# Q2.write a code to merge tuple t with (11,12,13,14) & store in
# variable named newt
t = (2,1,4,6,2,1,4,1,2,7,1)
newt = t + (11,12,13,14)
print(newt)

#             **List**
x = [2,4,6,8,10]

In [ ]:
# Q1.write a code to add a element 'eleven' , inside list at the end
# output-:[2,4,6,8,10,'eleven']

x = [2,4,6,8,10]
x.append('eleven')
print(x)

[2, 4, 6, 8, 10, 'eleven']

In [ ]:
# Q2.perform an operation to get the following output
# output-: ['one', 2, 4, 6, 8, 10, 'eleven']

x.insert(0, 'one')
print(x)

['one', 2, 4, 6, 8, 10, 'eleven']

In [ ]:
# Q3.perform an operation to merge the list y inside list x
# y= [12,13,14] output-: ['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]
y= [12,13,14]
x.extend(y)
print(x)

['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

In [ ]:
# Q4.perform an operation to get the following output
# output-: [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']
print(x[::-1])

[14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']

In [ ]:
# Q5.Perform one single operation to remove 'eleven', 10, 8 all
# together at once
# output-: [14, 13, 12, 6, 4, 2, 'one']
x = [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']
# del x[3:6]
# print(x)
x1=['eleven', 10, 8]
x2=[]
for i in x:
  if i not in x1:
    x2.append(i)
print(x2)

[14, 13, 12, 6, 4, 2, 'one']

In [ ]:
# Q6.write a code to remove 'one' element from the list
# output-: [14, 13, 12, 6, 4, 2]
x=[14, 13, 12, 6, 4, 2,'one']
x.pop(6)
print(x)

[14, 13, 12, 6, 4, 2]

In [ ]:
# Q7.write a code to get the following output

x2 = ["hey","there","hello","world"]
y=" ".join(x2)
print(y)

hey there hello world

#         **Dictionary**
d = {'a':10,'b':30,'c':50,'d':100}

In [ ]:
# Q1.write a code to update the value of key 'b' to 300
# output-: {'a':10,'b':300,'c':50,'d':100}
d = {'a':10,'b':30,'c':50,'d':100}
d['b']=300
print(d)

{'a': 10, 'b': 300, 'c': 50, 'd': 100}

In [ ]:
# Q2.write a code to check if key 'e' is present in dictionary d
# if it 'e' is not present in d, then it should return 'e key does not
# exist'
# output-: 'e key does not exist'

d = {'a':10,'b':30,'c':50,'d':100}
if 'e' in d:
  print(d['e'])
else:
  print('e key does not exist')

e key does not exist

In [ ]:
# Q3.write a code to add new key,value i.e 'e',600 respectively
# inside dictionary d
# output-: {'a':10,'b':300,'c':50,'d':100,'e':600}
d = {'a':10,'b':30,'c':50,'d':100}
d['e']=600
print(d)

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600}

In [ ]:
# Q4.write a code to display all the values from the dictionary
# output-: dict_values([10, 300, 50, 100, 600])
print(d.values())

dict_values([10, 30, 50, 100, 600])

In [ ]:
# Q5.write a code to merge the dictionary x inside dictionry d
# x = {'i':11,'j':12,'k':13,'l':14}
# output-: {'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'j':12,'k':13,'l':14}
x = {'i':11,'j':12,'k':13,'l':14}
d.update(x)
print(d)

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600, 'i': 11, 'j': 12, 'k': 13, 'l': 14}

In [ ]:
# Q6.write a code to remove the key 'j' from dictionary d
# output-: {'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'k':13,'l':14}
del d['j']
print(d)

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600, 'i': 11, 'k': 13, 'l': 14}

# **Set**
a = {1,2,3,4,5}
b = {3,4,5,6,7,8,9}

In [ ]:
# Q1. Write a code to perform union operation on a and b set
a = {1,2,3,4,5}
b = {3,4,5,6,7,8,9}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Q2. Write a code to perform intersection operation on set a and b
print(a.intersection(b))

{3, 4, 5}

In [ ]:
# Q3. Write a code to add 6, in set a
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

# **Operators**

In [ ]:
# Area of triangle (0.5*b*h)
b = float(input("Enter the base of the triangle: "))
h = float(input("Enter the height of the triangle: "))

area = 0.5 * b * h

print("The area of the triangle is:", area)

Enter the base of the triangle: 5
Enter the height of the triangle: 2
The area of the triangle is: 5.0

In [ ]:
# vol of sphere(4/3)*3.14*(r**3)
r = float(input("Enter the radius of the sphere: "))
volume = (4/3) * 3.14 * (r**3)
print("The volume of the sphere is:", volume)

Enter the radius of the sphere: 5
The volume of the sphere is: 523.3333333333334

In [ ]:
# Swap the variable x=10,y=5
x = 10
y = 5
x, y = y, x
print("x =", x)
print("y =", y)

x = 5
y = 10

In [ ]:
#  o/p -: x is 5 & y is 10

x = 10
y = 5
x, y = y, x
print("x is", x,"& y is",y)

x is 5 & y is 10

In [ ]:
#  WAP which takes two numbers as input and it should calculate & display all the arithmetic operation


num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulo = num1 % num2
exponentiation = num1 ** num2


print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulo:", modulo)
print("Exponentiation:", exponentiation)

Enter the first number: 50
Enter the second number: 25
Addition: 75.0
Subtraction: 25.0
Multiplication: 1250.0
Division: 2.0
Floor Division: 2.0
Modulo: 0.0
Exponentiation: 2.9802322387695315e+42

# **Flow Control**

In [ ]:
# WAP which takes an arithmetic operators & 2 numbers, as an and do the calculation based on the input operator
operator = input("Enter an arithmetic operator (+, -, *, /, //, %, **): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if operator == '+':
  result = num1 + num2
elif operator == '-':
  result = num1 - num2
elif operator == '*':
  result = num1 * num2
elif operator == '/':
  result = num1 / num2
elif operator == '//':
  result = num1 // num2
elif operator == '%':
  result = num1 % num2
elif operator == '**':
  result = num1 ** num2
else:
  print("Invalid operator entered.")
  result = None

if result is not None:
  print("Result:", result)

Enter an arithmetic operator (+, -, *, /, //, %, **): +
Enter the first number: 5
Enter the second number: 4
Result: 9.0

In [ ]:
# WAP to calculate area of triangle --> 0.5*b*h
b = float(input("Enter the base of the triangle: "))
h = float(input("Enter the height of the triangle: "))

area = 0.5 * b * h

print("The area of the triangle is:", area)

Enter the base of the triangle: 2
Enter the height of the triangle: 2
The area of the triangle is: 2.0

In [ ]:
# WAP to calculate vol of sphere --> (4/3)*3.14*(r**3)
r = float(input("Enter the radius of the sphere: "))
volume = (4/3) * 3.14 * (r**3)
print("The volume of the sphere is:", volume)

Enter the radius of the sphere: 5
The volume of the sphere is: 523.3333333333334

In [ ]:
# WAP for check a number is leap year or not by using following constraints-:
# Constraints-:
# 1. N div by 400 --> leap year
# 2. N div by 4 , N not div by 100 --> leap year
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
  print(year, "is a leap year")
else:
  print(year, "is not a leap year")

Enter a year: 2022
2022 is not a leap year

In [ ]:
# WAP to display the grade given a mark by using following constraint-:
# Constraints -:
# 75 & above -: A grade
# 60-74 -: B grade
# 35-59 -: C grade
# Below 35 -: Fail
mark = int(input("Enter the mark: "))

if mark >= 75:
  grade = "A"
elif mark >= 60:
  grade = "B"
elif mark >= 35:
  grade = "C"
else:
  grade = "Fail"

print("Grade:", grade)

Enter the mark: 45
Grade: C

In [ ]:
# WAP to check weather the number is even or odd
# Constraints-:
# N div by 2 → even
num = int(input("Enter a number: "))
if num % 2 == 0:
  print(num,"is even")
else:
  print(num,"is odd")

Enter a number: 2
2 is even

# **LOOP's**

In [ ]:
# WAP to print 1-10 using for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP to print 10-1 using for loop
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#WAP to print nth fibonacci series
n = int(input("Enter the number of terms: "))
a, b = 0, 1
for i in range(n):
  print(a)
  a, b = b, a + b

Enter the number of terms: 5
0
1
1
2
3

In [ ]:
#WAP to calculate the factorial of number using for loop
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
  factorial *= i
print("Factorial of", num, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#WAP to add 1st nth natural using for loop
n = int(input("Enter the number of terms: "))
sum = 0
for i in range(1, n + 1):
  sum += i
print("Sum of first", n, "natural numbers is", sum)

Enter the number of terms: 5
Sum of first 5 natural numbers is 15

In [ ]:
# WAP to print the table of given N using for loop
num = int(input("Enter a number: "))
for i in range(1, 11):
  print(num, "x", i, "=", num * i)

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# WAP to print 1-10 using while loop
i = 1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP to print 10-1 using while loop
i = 10
while(i>=1):
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#WAP to calculate factorial of given input n using while loop
n = int(input("Enter a number: "))
fact = 1
i = 1
while i <= n:
  fact *= i
  i += 1
print("Factorial of", n, "is", fact)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#WAP to print the sum of 1st nth natural numbers using while loop
n = int(input("Enter the number of terms: "))
sum = 0
i = 1
while i <= n:
  sum += i
  i += 1
print("Sum of first", n, "natural numbers is", sum)

Enter the number of terms: 2
Sum of first 2 natural numbers is 3

In [ ]:
#WAP to print fibonacci series till nth input value using while loop
n = int(input("Enter the number of terms: "))
a, b = 0, 1
count = 0
while count < n:
  print(a)
  a, b = b, a + b
  count += 1

Enter the number of terms: 5
0
1
1
2
3

In [ ]:
# WAP to print the table of given N using while loop

num = int(input("Enter a number: "))
i = 1
while i <= 10:
  print(num, "x", i, "=", num * i)
  i += 1

Enter a number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
# WAP to list out all the leap years from 1900-2030 using for loop
for year in range(1900, 2031):
  if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028

In [ ]:
# WAP to give all the even and odd number in list from 1-100 using for loop

even_numbers = []
odd_numbers = []

for num in range(1, 101):
  if num % 2 == 0:
    even_numbers.append(num)
  else:
    odd_numbers.append(num)

print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# wap to reverse a number
# input -: 7546
# ouput -: 6457

num = 7546
reversed_num = 0

while num > 0:
  digit = num % 10
  reversed_num = reversed_num * 10 + digit
  num //= 10

print(reversed_num)

6457

In [ ]:
# WAP to check whether the given number is palindrome or not
num = int(input("Enter a number: "))
temp = num
reversed_num = 0

while temp > 0:
  digit = temp % 10
  reversed_num = reversed_num * 10 + digit
  temp //= 10

if num == reversed_num:
  print(num, "is a palindrome number")
else:
  print(num, "is not a palindrome number")

Enter a number: 5
5 is a palindrome number

In [ ]:
# WAP to check whether the given number is armstrong or not

num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit ** order
  temp //= 10

if num == sum:
  print(num, "is an Armstrong number")
else:
  print(num, "is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
# WAP to check whether the given number is Strong or not

num = int(input("Enter a number: "))
sum1 = 0
temp = num
while temp > 0:
  digit = temp % 10
  fact = 1
  for i in range(1, digit + 1):
    fact *= i
  sum1 += fact
  temp //= 10
if num == sum1:
  print(num, "is a strong number")
else:
  print(num, "is not a strong number")

Enter a number: 153
153 is not a strong number

In [ ]:
# WAP to check whether the given number is Neon or not

num = int(input("Enter a number: "))
sum1 = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum1 += digit
  temp //= 10
if num % sum1 == 0:
  print(num, "is a Neon number")
else:
  print(num, "is not a Neon number")

Enter a number: 4
4 is a Neon number

In [ ]:
#  WAP to check whether the given number is perfect or not

num = int(input("Enter a number: "))
sum1 = 0
for i in range(1, num):
  if num % i == 0:
    sum1 += i
if sum1 == num:
  print(num, "is a perfect number")
else:
  print(num, "is not a perfect number")

Enter a number: 6
6 is a perfect number

In [ ]:
# WAP to perform linear Search

def linear_search(arr, x):
  for i in range(len(arr)):
    if arr[i] == x:
      return i
  return -1

arr = [2,5,7,9,11,1,22,14]
x = int(input("Enter the element to search: "))

result = linear_search(arr, x)

if result != -1:
  print("Element is present at index", result)
else:
  print("Element is not present in array")

Enter the element to search: 14
Element is present at index 7

In [ ]:
#Wap to perform Binary Search
def binary_search(arr, x):
    left, right = 0, len(arr) - 1

    while left <= right:
        mid = (left + right) // 2

        if arr[mid] == x:
            return mid
        elif arr[mid] < x:
            left = mid + 1
        else:
            right = mid - 1
    return -1

sorted_list = [2, 3, 4, 10, 40]
element_to_search = int(input("Enter the element to search: "))

result = binary_search(sorted_list, element_to_search)

if result != -1:
    print(f"Element {element_to_search} is present at index {result}.")
else:
    print(f"Element {element_to_search} is not present in the list.")

Enter the element to search: 2
Element 2 is present at index 0.

In [ ]:
#Wap to perform BubbleSort
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]

arr = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(arr)

print("Sorted array is:", arr)

Sorted array is: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
#Wap to perform MergeSort
def merge_sort(arr):
    if len(arr) <= 1:
        return arr
    mid = len(arr) // 2
    left_half = arr[:mid]
    right_half = arr[mid:]

    left_half = merge_sort(left_half)
    right_half = merge_sort(right_half)

    return merge(left_half, right_half)

def merge(left, right):
    result = []
    i = j = 0

    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1

    result.extend(left[i:])
    result.extend(right[j:])
    return result

arr = [12, 11, 13, 5, 6, 7]
print("Given array is:", arr)
sorted_arr = merge_sort(arr)
print("Sorted array is:", sorted_arr)

Given array is: [12, 11, 13, 5, 6, 7]
Sorted array is: [5, 6, 7, 11, 12, 13]